
html{
  
    background-color: indigo;
}


.instrument-headings{

color: red;
}

/* dropdown */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
.dropdown {
    position: relative;
    /* display: inline-block; */
    display: block;
  }
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown a:hover {
  background-color: #ddd;
}
  
.show {
  display: block;
}
/* dropdown */


.sequencer-button {
border-radius: 48% 52% 8% 92% / 100% 30% 70% 0% ;
width: 35px;
    
}
button:hover {
box-shadow: 0 12px 16px 0 green, 0 17px 50px 0 greenyellow;

}
.button-off {
background-color: whitesmoke;
}

.button-on {
clip-path: polygon(49% 9%, 81% 41%, 76% 75%, 27% 83%, 10% 38%);
background-color: darkred; 
}
.button-playing{
  clip-path: polygon(49% 9%, 81% 41%, 76% 75%, 27% 83%, 10% 38%);
  background-color: green; 
}

body {
background-color: dimgray;
/* margin: 50%; */
border: solid black;
/* border-radius: 30px; */
border-radius: 2% 98% 17% 83% / 96% 43% 57% 4%;
padding: 50px;
margin-left: 10%;
margin-right: 10%;
margin-top: 3%
}

.desc {
color: whitesmoke;
}

/* p {
color: whitesmoke;

} */

@media only screen and (max-width: 768px) {
  body {
    border-radius: 0px;
    padding: 1px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%
  }

  button {
    font-weight: bold;
    border-radius: 0px;
    font-size: 7px;
  }
}

.slidecontainer {
  width: 30%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Slider handle width */
  height: 25px; /* Slider handle height */
  background: #5b0e8f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; /* Slider handle width */
  height: 25px; /* Slider handle height */
  background: #5b0e8f;
  cursor: pointer;
}